.sendotpcontainer{
    width:600px;
    height:300px;
    border:2px solid black;
    background: white;
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%);
}
.sendotpcontainer img{
    width:150px;
    height:150px;
    position:absolute;
    left:50%;
    top:-10px;
    transform: translate(-50%);
}
.sendotpcontainer input{
    width:250px;
    height:35px;
    padding: 10px;
    border:1px solid black;
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%)
}
.sendotpcontainer button{
    width:80px;
    height:30px;
    position: relative;
    background-color: #1E8EE5;
    color:white;
    height:35px;
    width:85px;
    font-size:16px;
    top:70%;
    left:7%;
    transform:translate(-50%)
}
.verifyotpcontainer{
    width:600px;
    height:350px;
    border:2px solid black;
    background: white;
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%);
}
.verifyotpcontainer input{
    width:250px;
    height:35px;
    padding: 10px;
    border:1px solid black;
    display:block;
    position: relative;
    margin-top: 10px;
    top:38%;
    left:50%;
    transform:translate(-50%)
}
.verifyotpcontainer button{
    width:80px;
    height:30px;
    position: relative;
    background-color: #1E8EE5;
    color:white;
    height:35px;
    width:85px;
    font-size:16px;
    top:45%;
    left:50%;
    transform:translate(-50%)
}
.verifyotpcontainer img{
    width:150px;
    height:150px;
    position:absolute;
    left:50%;
    top:-10px;
    transform: translate(-50%);
}
.changepasswordcontainer{
    width:600px;
    height:400px;
    border:2px solid black;
    background: white;
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%);
}
.changepasswordcontainer input{
    width:250px;
    height:35px;
    padding: 10px;
    display:block;
    position: relative;
    border:1px solid black;
    margin-top: 10px;
    top:38%;
    left:50%;
    transform:translate(-50%)
}
.changepasswordcontainer button{
    width:80px;
    height:30px;
    position: relative;
    background-color: #1E8EE5;
    color:white;
    height:35px;
    width:85px;
    font-size:16px;
    top:45%;
    left:50%;
    transform:translate(-50%)
}
.changepasswordcontainer img{
    width:150px;
    height:150px;
    position:absolute;
    left:50%;
    top:-10px;
    transform: translate(-50%);
}
@media(max-width:430px){

    .sendotpcontainer{
        width:95%;
       
    }
    
   
    .sendotpcontainer button{
           left:-50px;
        }
    .verifyotpcontainer{
        width:95%;
       
    }
    
    
    .changepasswordcontainer{
        width:95%;
       
    }
    
    
        
}