.navbar{
    height:80px;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
    }
.navContainer{
 display: flex;
 color:white;
 display:flex;
 align-items: center;
 justify-content: center;}
.headerpage{
    position: absolute;
    left:250px
}
.doctorr{
    position: absolute;
    right:150px;
}


.doctorr span{
    color: aliceblue;
}
.navItem{
    /* border:1px solid white;
    background:#1E88E5; */
    /* width:120px ;
    height: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right:20px;
}
.navItem span{
    font-size: 20px;
}

.navItem .navButton p{
    outline: none;
    color: white;
}
.navimg{
position: absolute;
left: 10px;
}
.navimg img{
    margin-top:9px;
}
.left {
    width: 15%;
    height:50%;
    background: rgb(244, 170, 170);
    position: absolute;
    top: 0px;
  display:none;
    }
    
    input[type="checkbox"] {
    position: absolute;
    left: 10px;
    top: 10px;
    display:none;
    width: 30px;
    height: 30px;
    background-size: cover;
    z-index: 10;
    margin-left: 10px;
    }
    
    input[type="checkbox"]:checked + .left{
    left: 0%;
    display: block;
    z-index: 9;
    }
    
    input[type="checkbox"]:checked {
    left:200px;
    }
    .headerpage ul li{
        display: inline-block;
        margin-right:20px;
        }



        @media screen and (max-width: 420px) {
            .navimg{
                margin-left: 25px;
            }
            .navimg img{
                width: 140px;
            }
            .doctorr{
                display: none;
            }
            input[type="checkbox"]{
                display: block;
                margin-top:25px;
                transform: translate(-50%);
            }
            .headerpage{
                display: none;
            }
            .left{
                width:100%;
                height: 100vh;
                background:#1E88E5;
                font-size: 20px;
            }
            .left .menu ul{
                margin-top:150px;
            }
            .left .menu ul li{
                margin-top:0px;
                margin-left:30%;
                width:250px;
             height:60px;
               font-size: 24px;
                display:flex;
                align-items: center; 
            }
            .navItem{
                width: 60px;
            right: 10px;
            }
            .navItem .navButton1{
                display: none;
            }
        }
    